<!doctype html>
<html>
  <%= partial 'layouts/partials/header' %>

  <body>
  	<div class="container">
  	<div class="columns">

		<aside class="column is-2 is-fullheight section is-hidden-mobile">
		    <p class="menu-label is-hidden-touch">Tutorial Series</p>
		    <ul class="menu-list"><li>
		    <%#= byebug %>
		    <% tutorial_series = current_page.parent.parent.path == 'tutorials/index.html' ? current_page.parent : current_page %>
    			<%= link_to tutorial_series.data.title, tutorial_series.url %> 
		      	<ul>
		      		<% sorted_episodes = tutorial_series.children.each.sort_by { |a| a.data.title } %>
		      		<% sorted_episodes.each do | episode | %>
		      			<li><%= link_to episode.data.title, episode.url %> </li>
		  			<% end %>
		  		</ul>
	      	</li></ul>
		</aside>
  
		<div class="column content">
				<%= prev_next_links unless current_page.data.series.nil?%>
	    		<%= yield %>
	    	
		</div>
	  
	</div>
	</div>
    
  </body>
</html>