<!doctype html>
<html>
  <%= partial 'layouts/partial/header' %>

  <body>
  	<div class="container">
  	<div class="columns">

		<aside class="column is-2 is-fullheight section is-hidden-mobile">
		    <p class="menu-label is-hidden-touch">Tutorials</p>
		    <ul class="menu-list">
		    <% sitemap.find_resource_by_path('tutorials/index.html').children.each do |tutorial_series| %>
	      		<li>
	      			<%= link_to tutorial_series.data.title, tutorial_series.url %> 
		      		<ul>
		      		<% sorted_episodes = tutorial_series.children.each.sort_by { |a| a.data.title } %>
		      		<% sorted_episodes.each do | episode | %>
		      			<li><%= link_to episode.data.title, episode.url %> </li>
		  			<% end %>
		  			</ul>
	  			</li>
			<% end %>
	      	</ul>
		</aside>
  
		<div class="column content">
				<%= prev_next_links %>
	    		<%= yield %>
	    	
		</div>
	  
	</div>
	</div>
    
  </body>
</html>