<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <!-- is-dark -->
  <div class="navbar-brand">
    <% link_to '/index.html', class: 'navbar-item' do %>
      <%= image_tag 'stl-tec2_256.png', height: '80' %>
      <!--<img src="stl-tec2_256.png" width="302" height="80"> -->
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
       <%#= link_to 'Articles', '/articles/', class: 'navbar-item' %>

      <div class="navbar-item has-dropdown is-hoverable">
        <%#= menu_link 'Tutorials', '/tutorials/', 'navbar-link' %>
        <a class="navbar-link">Tutorials</a>
        <div class="navbar-dropdown">
          <% link_to '/tutorials/WinReverseEng/', class: 'navbar-item' do %>
            Reverse Engineering Windows (10)
          <% end %>
          <% link_to '/tutorials/WinExp1/', class: 'navbar-item' do %>
            Windows Exploitation
          <% end %>
        </div>
      <a class="navbar-link">Articles</a>
      <div class="navbar-dropdown">
          <% link_to '/articles/android_pentesting/', class: 'navbar-item' do %>
            Android Penetration Testing
          <% end %>
          <% link_to '/articles/middleman.html', class: 'navbar-item' do %>
           Middleman static websites
          <% end %>
          <% link_to '/articles/netcat.html', class: 'navbar-item' do %>
           1001 Used of netcat
          <% end %>
        </div>
      </div>
      <%= menu_link 'About', '/site/about', 'navbar-item' %>
      

    </div>
    <div class="navbar-end">
      <%= link_to 'Reiseerzaehlungen (german)', 'https://reisewiki.stlt.de', class: 'navbar-item' %>
    </div>
  </div>
</nav>